html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    box-sizing: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(243, 242, 241);
}
main {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}
@media (min-width: 319px) {
    main {
        font-size: 0.57em;
    }
    .accordion {
        margin: 1% auto;
        padding: 0;
        width: 90%;
        transition: all 1.5s linear;
        cursor: pointer;
    } 
    label {
        display: flex;
        justify-content: space-between;
    }
    .divider {
        width: 100%;
        height: 0.125em;
        border-bottom: solid 0.125em #cdd1d2;
        padding-bottom: 0%;
    }   
    .accordion li {
        list-style: none;
        width: 100%;
    }    
    .accordion li label {
        padding: 2%;
        font-size: 1.5em;
        color:#0b09a2;
        border-top: solid 0.125em #cdd1d2;
        background-color: transparent;
        transition: all 1.5s linear;
        font-weight: 700;
        cursor: pointer;
    }
    .accordion li label span:nth-child(2) .fa-plus {
        transition: all 1s linear;
    }
    .accordion li label:first-child {
        border-top: none;
    }
    .accordion label + input[type='radio'] {
        display: none;
    }    
    .accordion .content {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        padding-top: 0%;
        background-color: transparent;
        transition: 1.5s ease-in-out;
    }
    .accordion .content img {
        display: block;
        width: 0%;
        margin: 0 auto;
        transition: all 1s linear;
        text-align: center;
    }
    .accordion label + input[type='radio']:checked ~ .content {
        background-color:rgb(231, 228, 228);
        padding-top: 2%;
    }
    .accordion label + input[type='radio']:checked ~ .content img {
        border: solid 0.125em #030303;
        width: 85%;
        transform: scale(102%);
    }
    .accordion label + input[type='radio']:checked ~ .content .divider {
        padding-bottom: 2%;
    }
}
@media (hover: hover) {
    /* when hover is supported */
    .accordion:hover {
        color: black;
        cursor: pointer;
    }
    .accordion li label:hover ~ .content {
        background-color:rgb(226, 225, 224);
        transition: all 1.5s ease-in-out; 
        padding-top: 2%;
    }
    .accordion li label:hover {
        color: rgb(102, 101, 101);
    }
    .accordion label + input[type='radio']:hover ~ .content img {
        width: 40%;
    }
    .accordion label + input[type='radio']:hover ~ .content .divider {
        padding-bottom: 2%;
    }
    .accordion li label:hover span:nth-child(2) .fa-plus {
        transform: rotate(45deg);
        color: black;
    }
}
@media (min-width: 819px) {
    main {
        font-size: 0.7em;
    }
    .accordion {
        width: 60%;
    } 
}
@media (min-width: 1200px) {
    main {
        font-size: 1em;
    }
    .accordion {
        width: 40%;
    }    
    .accordion li label {
        padding: 2%;
        font-size: 1.5em;
        color:#0b09a2;
        border-top: solid 0.125em #cdd1d2;
        background-color: transparent;
        transition: all 1.5s linear;
        font-weight: 700;
        cursor: pointer;
    }    
    .accordion label + input[type='radio']:checked ~ .content {
        background-color:rgb(170, 170, 170);
    }
    .accordion label + input[type='radio']:checked ~ .content img {
        width: 40%;
    }
    .accordion li label span:nth-child(2) .fa-plus + input[type='radio']:checked {
        transform: rotate(45deg);
        color: rgb(6, 6, 6);
    }
}
